@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);    
    font-family: Poppins; 
}

h1 {
    padding: 60px 0px 15px 0px;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
}

h2 {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 25px;
}

.description__text {
    font-size: 16px;    
    padding-bottom: 25px;
}

.gradient1 {
    @include gradient-text('linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670)', 'light');
  }


.buttons__container {
    display: flex;
    gap: 1.0em;
} 

.hire__btn {
    background-color: #49bab8;    
    color: #fff;   
    font-size: 20px;   
    font-weight: bold; 
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 8px;
    cursor: default;
}

.projects__btn {
    background-color: #fff;
    color: rgb(0, 0, 0);   
    font-size: 20px;   
    font-weight: bold; 
    width: 140px;
    height: 50px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 8px;
    cursor: default;
}

.social__media {
    padding-top: 55px;
    display: flex;
    gap: 2.0em;
}

.img__cover {
    padding-top: 25px;
}